<div class="card">
  <div class="topo">
    <div class="textos">
      <h2 class="titulo">{{ titulo() }}</h2>

      @if (subtitulo()) {
        <p class="subtitulo">{{ subtitulo() }}</p>
      }
    </div>

    @if (redirecionamento()) {
      <div class="redirecionamento" [routerLink]="redirecionamento()">
        <span class="seta-completa">
          <span class="haste"></span>
          <span class="ponta"></span>
        </span>
      </div>
    }
  </div>

  <div class="conteudo">
    <ng-content></ng-content>
  </div>
</div>
