<div class="card">
  <div class="topo">
    @if (titulo()) {
      <div class="textos">
        <h2 class="titulo">{{ titulo() }}</h2>

        @if (subtitulo()) {
          <p class="subtitulo">{{ subtitulo() }}</p>
        }
      </div>
    }

    @if (redirecionamento()) {
      <div class="redirecionamento" [routerLink]="redirecionamento()">
        <app-seta tipo="direita" />
      </div>
    }
  </div>

  <div class="conteudo" [class.sem-topo]="!titulo() && !redirecionamento()">
    <ng-content></ng-content>
  </div>
</div>
