<div class="conteudo">
  <div class="topo">
    <div class="texto-topo">
      <h1>Leituras</h1>
      <p>Visualize e acompanhe as leituras registradas pelos medidores.</p>
    </div>

    <app-card class="card-contador">
      <div class="contador-conteudo">
        <div class="contador-textos">
          <h3>Leituras</h3>
          <p>Leituras registradas</p>
        </div>

        <span class="valor-contador">
          {{ quantidadeLeituras() }}
        </span>
      </div>
    </app-card>
  </div>

  <app-card class="tabela">
    <div class="linha-de-acoes">
      <app-input-texto
        name="busca"
        placeholder="Busque leituras a partir do medidor..."
        (valorAlterado)="filtrarLeituras($event)"
      ></app-input-texto>

      <app-botao
        texto="Nova Leitura"
        type="button"
        variante="primario"
        (clicado)="alterarFormularioCriacao(true)"
      ></app-botao>
    </div>

    <app-tabela
      [cabecalhos]="cabecalhosTabela"
      [dados]="dadosTabela()"
      [exibirAcoes]="false"
      [linhaClicavel]="true"
      [paginaAtual]="paginaAtual()"
      [totalPaginas]="totalPaginas()"
      mensagemVazia="Nenhuma leitura encontrada."
      (paginaAlterada)="alterarPagina($event)"
      (linhaClicada)="abrirResumo($event)"
      (linkClicado)="abrirMedidor($event)"
    />
  </app-card>
</div>

@if (popupResumoAberto() && leituraSelecionada) {
  <app-popup-detalhes
    titulo="Detalhes da leitura"
    [mostrarBotoes]="false"
    (fechar)="fecharResumo()"
  >
    <div class="detalhe">
      <span>Data e hora</span>
      <p>{{ formatarDataHora(leituraSelecionada.dataHora) }}</p>
    </div>

    <div class="detalhe">
      <span>Valor</span>
      <p>{{ leituraSelecionada.valor }}</p>
    </div>

    <div class="detalhe">
      <span>Medidor</span>
      <p>{{ leituraSelecionada.medidorIdentificador }}</p>
    </div>
  </app-popup-detalhes>
}

@if (formularioCriacaoAberto()) {
  <app-formulario
    titulo="Nova Leitura"
    [erro]="erroFormulario"
    (fechar)="alterarFormularioCriacao(false)"
    (salvar)="salvarLeitura()"
  >
    <app-select
      label="Medidor"
      placeholder="Selecione o medidor"
      [opcoes]="opcoesMedidores"
      [valor]="medidorFormulario"
      (valorAlterado)="medidorFormulario = $event"
    />

    <app-input-texto
      name="valor"
      label="Valor"
      placeholder="Deixe vazio para gerar automaticamente"
      [valor]="valorFormulario"
      (valorAlterado)="valorFormulario = $event"
    />
  </app-formulario>
}
