<div class="pagina">
  <div class="topo"></div>

  <img class="logo" src="/logoFink.png" alt="Logo Fink" />

  <div class="conteudo">
    <div class="login">
      <div class="textos-login">
        <h2>Bom ter você de volta!</h2>

        <p class="subtitulo">Acesse sua conta para entrar no sistema administrativo.</p>
      </div>

      <div>
        <app-input-texto
          placeholder="Insira seu e-mail"
          type="email"
          name="email"
          [required]="true"
          [valor]="email()"
          (valorAlterado)="email.set($event)"
        ></app-input-texto>

        <app-input-texto
          placeholder="Insira sua senha"
          type="password"
          name="senha"
          [required]="true"
          [valor]="senha()"
          (valorAlterado)="senha.set($event)"
        ></app-input-texto>
      </div>

      @if (erro()) {
        <p class="erro-login">
          {{ erro() }}
        </p>
      }

      <div>
        <app-botao
          texto="Entrar"
          type="submit"
          variante="primario"
          [desabilitado]="carregando()"
          [larguraTotal]="true"
          (clicado)="entrar()"
        ></app-botao>
      </div>
      @if (primeiroAdminDisponivel()) {
        <div class="primeiro-acesso">
          <span>Primeiro acesso ao sistema?</span>

          <button
            type="button"
            class="botao-primeiro-acesso"
            (click)="alterarFormularioPrimeiroAdmin(true)"
          >
            Criar administrador
          </button>
        </div>
      }
    </div>

    <img src="/imagemLogin.png" alt="Logo Fink" />
  </div>
</div>

@if (formularioPrimeiroAdminAberto()) {
  <app-formulario
    titulo="Criar primeiro administrador"
    [erro]="erroPrimeiroAdmin()"
    (fechar)="alterarFormularioPrimeiroAdmin(false)"
    (salvar)="criarPrimeiroAdmin()"
  >
    <app-input-texto
      label="Nome"
      name="nomePrimeiroAdmin"
      placeholder="Insira seu nome"
      [required]="true"
      [valor]="nomePrimeiroAdmin()"
      (valorAlterado)="nomePrimeiroAdmin.set($event)"
    ></app-input-texto>

    <app-input-texto
      label="E-mail"
      name="emailPrimeiroAdmin"
      type="email"
      placeholder="Insira seu e-mail"
      [required]="true"
      [valor]="emailPrimeiroAdmin()"
      (valorAlterado)="emailPrimeiroAdmin.set($event)"
    ></app-input-texto>

    <app-input-texto
      label="Senha"
      name="senhaPrimeiroAdmin"
      type="password"
      placeholder="Insira sua senha"
      [required]="true"
      [valor]="senhaPrimeiroAdmin()"
      (valorAlterado)="senhaPrimeiroAdmin.set($event)"
    ></app-input-texto>
  </app-formulario>
}
