@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700&display=swap');

:root {
  /* Cores principais */
  --cor-primaria: #0055ff;
  --cor-secundaria: #e7ebee;
  --cor-primaria-clara: #b5ceff;
  --cor-background: #f5f8f8;

  /* Botões */
  --cor-botao-primario: #0055ff;
  --cor-botao-secundario: #e7ebee;
  --cor-botao-edicao: #6b6b6b;
  --cor-botao-delecao: #ec1312;

  /* Neutros */
  --cor-branco: #ffffff;
  --cor-preto: #000000;
  --cor-cinza: #6b6b6b;
  --cor-cinza-claro: #a0a0a0;
  --cor-cinza-apagado: #d1d2d9;

  /* Texto */
  --cor-texto-primario: #000000;
  --cor-texto-secundario: #808088;
  --cor-texto-apagado: #808080;
  --cor-texto-inverse: #ffffff;
  --cor-erro: #ec1312;
  --fonte-principal: 'Bitter', serif;

  /* Estados */
  --cor-sucesso: #2d9e20;
  --cor-perigo: #ec1312;

  /* Cores auxiliares da aplicação */
  --cor-roxo: #820ad1;
  --cor-azul-marinho: #001864;
  --cor-cyano: #9af4eb;

  /* Tipos Medidores */
  --cor-amarelo-energia: #e7a900;
  --cor-azul-agua: #156de7;
  --cor-verde-gas: #7ca923;

  /* Gráficos */
  --cor-grafico-azul: #5b92fc;
  --cor-grafico-azul-claro: #b5ceff;
  --cor-grafico-verde: #409338;
  --cor-grafico-vermelho: #cb2e34;

  /* Tabelas */
  --cor-header-tabela: #eff1ff;
  --cor-borda-tabela: #eef2f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  font-family: var(--fonte-principal);
}

button,
input,
select,
textarea {
  font: inherit;
}

.logo {
  max-height: 5%;
  max-width: 5%;
}
