<div class="tabela-container">
  <div class="tabela-scroll">
    <table>
      <thead>
        <tr>
          @for (cabecalho of cabecalhos(); track cabecalho) {
            <th>
              {{ cabecalho }}
            </th>
          }

          <th class="coluna-acoes">Ações</th>
        </tr>
      </thead>

      <tbody>
        @if (dados().length === 0) {
          <tr>
            <td class="mensagem-vazia" [attr.colspan]="cabecalhos().length + 1">
              {{ mensagemVazia() }}
            </td>
          </tr>
        } @else {
          @for (linha of dados(); track linha.id) {
            <tr [class.linha-clicavel]="linhaClicavel()" (click)="linhaClicada.emit(linha.id)">
              @for (valor of linha.valores; track $index) {
                <td>
                  @if (ehTag(valor)) {
                    <app-tag [texto]="valor.texto" [variante]="valor.variante" />
                  } @else if (ehLink(valor)) {
                    <button
                      type="button"
                      class="link-tabela"
                      (click)="$event.stopPropagation(); linkClicado.emit(valor.id)"
                    >
                      {{ valor.texto }}
                    </button>
                  } @else {
                    {{ valor }}
                  }
                </td>
              }

              <td class="coluna-acoes">
                <div class="acoes">
                  <button
                    type="button"
                    class="acao"
                    (click)="$event.stopPropagation(); navegarClicado.emit(linha.id)"
                  >
                    <app-seta tipo="direita" />
                  </button>
                </div>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
